doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Perú 21
    link(rel="stylesheet", href="fontawesome-free-5.0.1/css/fontawesome-all.css")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    header.background-header
      div.container
        div.row
          a(href="#").menu-hamburguesa.d-flex
            i.fa.fa-bars
            span.d-none.d-sm-block Menú
          div.logos-header
            a(href="#"): img(src="img/white-logo.webp", alt="")
            a(href="#"): img(src="img/otorongo.webp", alt="")
            a(href="#"): i.fas.fa-user-circle
    div.container
      div.row
        div.titulo.col-12
          h2 Economía
        article.gradiente.col-12
            img(src="img/sis.jpg", alt="").h-full.w-full
            div.descripcion-sis.col-8
              h3: a(href="#") economía
              p: a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat odit incidunt nam adipisci itaque accusantium.
              span: a(href="#") redacción perú 21
        article.gradiente.col-12
            img(src="img/sis.jpg", alt="")
            div.descripcion-sis.col-10
              h3: a(href="#") economía
              p: a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat odit incidunt nam adipisci itaque accusantium.
              span: a(href="#") redacción perú 21
        article.gradiente.col-12
            img(src="img/sis.jpg", alt="")
            div.descripcion-sis.col-8
              h3: a(href="#") economía
              p: a(href="#") Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat odit incidunt nam adipisci itaque accusantium.
              span: a(href="#") redacción perú 21
