doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Perú 21
    link(rel="stylesheet", href="css/fontawesome-all.css")
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
  body
    header.background-header
      div.container
        div.row
          div.col-2.menu-hamburguesa
            div
            div
            div
          div.logos-header
            a(href="#"): img(src="img/white-logo.webp", alt="")
            a(href="#"): img(src="img/otorongo.webp", alt="")
            //- a(href="#"): <i class="fas fa-user-circle"></i>
    div.container
      div.row
        div.titulo
          h2 Economía
            